PORT_CONNECT = 
CORS_ORIGIN = 
NODE_ENV = 
SESSION_EXPIRY = "7d"

# Pooled is used when express application is running
# Direct is used by drizzle kit only
DATABASE_URL=""
DATABASE_MIGRATION_URL=""

# Google OAuth
CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URI=""
